include includes/header
body
    table
        thead
            tr 
                th Name 
                th Age
                th Gender 
                th Country
                th Picture
        tbody
            each ru in randomUsers
                tr
                    td= ru.name
                    td= ru.age
                    td= ru.gender
                    td= ru.country
                    td
                        img(src=ru.picture)
include includes/footer